<head>
  <title>student-project-v01</title>
  <link rel="stylesheet" href="./w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{>inputdata}}
    {{>datagrilview}}
    {{>diplay}}
</body>
<template name="inputdata">
    <div class="w3-container w3-main">
        <form>
            <div class="w3-row w3-margin-top">
                <div class="w3-col w3-center w3-margin-top" style="width:100px">
                <h6><label>FirstName</label></h6>
                </div>
                <div class="w3-half w3-center">
                <input class="w3-input w3-round-large" id="tfname" type="text" style="width:80%" required>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col w3-center w3-margin-top" style="width:100px">
                <h6><label>Last Name</label></h6>
                </div>
                <div class="w3-half w3-center">
                <input class="w3-input w3-round-large" id="tlname" type="text" style="width:80%" required>
                </div>
            </div>
            <div class="w3-row w3-margin-top">
                <div class="w3-col w3-center w3-margin-top" style="width:100px">
                <h6><label>Age</label></h6>
                </div>
                <div class="w3-half w3-center">
                <input class="w3-input w3-round-large" id="tage" type="text" style="width:80%" required>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-center w3-margin-top w3-col s2">
                </div>
                <div class="w3-col w3-center s4">
                <button class="w3-button w3-section w3-blue w3-ripple w3-round-large" id="signinbtn">Save</button>
                </div>
            </div>
        </form>
    </div>
</template>
<template name="datagrilview">
    <input type="text" name="sSearch" id="sSearch">
    <table class="w3-table-all w3-margin-top" id="mytables">
        <thead>
            <tr class="w3-blue" >
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {{#each stu}}
            <tr>
                <td>{{txtfirstname}}</td>
                <td>{{txtlastname}}</td>
                <td>{{txtage}}</td>
                <td>
                    <button class="w3-button w3-section w3-round-large w3-green w3-ripple" data-post-id="{{_id}}" type="button" id="editdoc"><i class="fa fa-edit w3-large"></i></button>
                </td>
                <td>
                    <button class="w3-button w3-section w3-round-large w3-red w3-ripple" data-post-id="{{_id}}"  type="button" id="deletedoc"><i class="fa fa-close w3-large"></i></button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="w3-margin-top">
        <button class="w3-button w3-section w3-left w3-round-large w3-blue w3-ripple" id="previousData" name="previousData"><i class="fa fa-arrow-left w3-large"></i> Previous</button>
        <button class="w3-button w3-section w3-right w3-round-large w3-blue w3-ripple" id="nextData" name="nextData">Next <i class="fa fa-arrow-right w3-large"></i></button>
    </div>
</template>

<template name="diplay">
    <div class="w3-quarter" style="margin-top:50px">
        <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xlarge"></i></div>
        <div class="w3-right">
        <h3>{{dailyBoss}} 00</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>age > 15</h4>
        </div>
    </div>
    <div class="w3-quarter" style="margin-top:50px">
        <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xlarge"></i></div>
        <div class="w3-right">
            <!-- <h3>{{dailyBigBoss}}</h3> -->
            <h3>{{dailydepartment}} 00</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>age 30 > 15</h4>
        </div>
    </div>
    <div class="w3-quarter" style="margin-top:50px">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xlarge"></i></div>
        <div class="w3-right">
            <h3>{{dailyDone}} 00</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>age > 30</h4>
        </div>
    </div>
</template>